@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Poppins", sans-serif
    
}

header {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center

}

.column_1 {

    width: 50%;
    float: left

}

.column_2 {

    width: 50%;
    float: right

}

li {

    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: white;
    border: 1px solid black

}