html, body {

    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;

}

/* Styles heading section */
.headings {

    background-color: #17072b;
    color: White;
    font-size: 25px

}

/* Styles title area */
header {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    text-align: center; 

}

/* Styles title */
h1 {

    text-decoration: underline;


}

/* Styles "link" area */
nav {

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: white

}

/* Styles "buttons" */
.button {

    margin: auto;
    margin-bottom: 25px;
    text-decoration: none;
    color: white;
    text-align: center; 
    justify-content: center;
    align-items: center;

}

/* Styles main content area */
.main_content {

    display: flex;
    margin: 30px

}

/* Styles welcoming text area */
main {

    margin-right: 50px;

}

/* Styles side article */
.side_article {

    color: white;
    background-color: #172D67

}

/* Styles welcoming text title */
.welcome_header {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 32px

}

/* Styles welcoming text's paragraph */
p {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-justify: inter-word;
    justify-content: justify;
    align-items: center;
    text-align: justify

}

/* Styles the image below the welcoming text */
.main_image {

    height: 350px;
    width: 1000px

}

/* Styles the side article */
aside {

    padding: 25px;
    text-align: left

}

/* Styles the side article's title */
.sideline_header {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 32px;
    margin-top: 2px

}

/* Styles the side article's list */
ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px
}

/* Styles the images section below the side article's content */
.images_pair {

    display: flex;
    margin: 0px;
    margin-top: 50px

}

/* Styles the first image in the side article */
.side_article_image_1 {

    height: 200px;
    width: 200px;
    margin-right: 5px

}

/* Styles the second image in the side article */
.side_article_image_2 {

    height: 200px;
    width: 200px;
    margin-left: 5px

}

/* Styles footing section */
.footing {

    margin-top: 40px;
    background-color: #8c15e9;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

/* Styles footing section text. */
h6 {

    padding: 15px;
    font-size: 15;

}
