/* Import font which is to be used throughout the webpage. */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

    background-color: white;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0

}

/* Style the title class*/
.title {

    color: gold;
    background-color: rgb(99, 0, 0);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    align-items: left;
    border-bottom-style: solid;
    border-color: white;
    border-bottom-width: 5px;

}

/* Styles the picture of the food recipe */
img {    
    
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    height: 300px;
    width: 395px;
    margin: 5px;

}

/* Styles the section from composed area from the image to the ingredients */
article {

    margin: 50px;
    margin-right: 200px;
    margin-left: 200px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

}

/* Styles the sections that includes the steps of the recipe */
main {

    margin: 50px;
    margin-right: 200px;
    margin-left: 200px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

}

/* Styles the link section. */
nav {

    margin: 50px;
    margin-right: 200px;
    margin-left: 200px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

}
