@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

    background-color: black ;
    font-family: "Poppins", sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden

}

/* Centers the title of the webpage */
header {

    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center; 

}

/* Adjusts the titles of the images to be centered */
section {

    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center; 

}

/* Properly aligns the titles of the images to be centered within their specific images */
h2 { 

    margin-left:auto;
    margin-right:auto

}

main {

    margin-top: 5px;
    display: flex

}

/* Adjusts the copyright paragraphs of the images to be centered within their specific images */
footer {

    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center; 

}

p {

    margin-left:50px;
    margin-right:50px

}

/* Images of the planets, being scaled to be smaller, and ran through CSS filters. */
.venus {

    height: 50%;
    width: 50%;
    margin: 50px;
    filter: grayscale(10)

}

.earth {

    height: 50%;
    width: 50%;
    margin: 50px;
    filter: sepia(2)

}

.mars {

    height: 49%;
    width: 49%;
    margin: 50px;
    filter: blur(15px)

}
